@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

.boilr-test {
font-family: 'Roboto', sans-serif;
    min-height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 20px 20px 20px 0;
    height: 100%;
    padding: 50px 0;
    flex-direction: column;

    &__logo {
        margin-bottom: 0px;

        svg {
            width: 200px;
            max-width: 100%;
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        margin-bottom: 0px;
    }

    &__description {
        font-size: 1rem;
    }

    &__button {
        button {
            margin: 10px;
            padding: 10px 20px;
            border: 0;
            background: #1A323E;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            display: block;
            cursor: pointer;

            &:hover {
                background: #122229;
            }
        }
    }
}

.flash-notices {
    position: absolute;
    top: 50px;
    right: 20px;
}

.flash-notice {
font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: #0070e0;
    border-radius: 15px;
    color: #ffffff;
    -webkit-animation: 3s ease 0s normal forwards 1 fadeout;
    animation: 3s ease 0s normal forwards 1 fadeout;   

    h3 {
        margin:0;
        padding:0;
        color: #ffffff;
    }
}

@keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:1; }
    100% { opacity:0; }
}
